.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;

  &_item {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    animation: jump 1s;
    animation-iteration-count: 1;

    &Container {
      display: flex;
      width: 5rem;
      justify-content: space-between;
    }

    &-1 {
      background-color: $color-primary;
    }

    &-2 {
      background-color: $color-secondary;
      animation-delay: 0.25s;
    }

    &-3 {
      background-color: $color-tertiary;
      animation-delay: 0.5s;
    }
  }
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 1.25rem $appPadding;
  background-color: rgb(243, 243, 243);
  font-size: 1.2rem;
  position: relative;

  &_icon {
    margin-right: 1rem;
  }

  &_text {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
  }
}

.presentation {
  padding: 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);

  &_title {
    margin: 0;
  }

  &_subtitle {
    font-weight: 300;
    margin: 1.5rem 0;
  }

  &_btn {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: white;
    background-color: #686868;
    background-image: linear-gradient(
      0deg,
      rgba(147, 86, 220, 0.9) 0%,
      rgba(255, 121, 218, 0.9) 100%
    );
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  }
}

.function {
  padding: ($appPadding + 1rem) $appPadding;

  &_title {
    margin-top: 0;
  }

  &_steps {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: compteListe;
  }

  &_step {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      counter-increment: compteListe 1;
      content: counter(compteListe) " ";
      background: $color-primary;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      left: -0.75rem;
    }
  }

  &_icon {
    margin-right: 1rem;
    color: #7e7e7e;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: ($appPadding + 1rem) $appPadding;

  &_title {
    margin-top: 0;
  }
}

.boards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.board {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
  transition: 0.2s;
  &_img {
    height: 12rem;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }

  &_badge {
    background-color: $color-tertiary;
    color: darken($color-tertiary, 50%);
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
  }

  &_footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &_content {
    flex: 1;
  }

  &_title {
    margin: 0;
    margin-bottom: 0.25rem;
  }

  &_subtitle {
    margin: 0;
  }

  &_btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_like {
    background-color: white !important;
  }
  &:hover {
    -ms-transform: scale(1.019); /* IE 9 */
    -webkit-transform: scale(1.019); /* Safari 3-8 */
    transform: scale(1.015);
  }
  &:active {
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.25);
  }
}
