@use "sass:color";

body,
html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

.localisation_text {
  background-color: rgb(243, 243, 243);
}
.header {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;

  &_logo {
    font-family: "Shrikhand", "cursive";
    margin: 0;
    text-align: center;
  }
}

.footer {
  background-color: #353535;

  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &_logo {
    color: white;
    font-family: "Shrikhand", "cursive";
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &_list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &_listElement {
    margin: 0.5rem 0;
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &_link {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &_icon {
    width: 1.2rem;
    margin-right: 0.5rem;
  }
}
.localisation {
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  background-color: rgb(243, 243, 243);
  font-size: 1.2rem;
  position: relative;

  &_icon {
    margin-right: 1rem;
  }

  &_text {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
  }
}

.presentation {
  padding: 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);

  &_title {
    margin: 0;
  }

  &_subtitle {
    font-weight: 300;
    margin: 1.5rem 0;
  }
  &_btn {
    border: 0;
    padding: 12px 24px;
    font-weight: 450;
    font-size: 17.5px;
    border-radius: 100px;
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    color: white;
    background-color: #5c5959e3;
    background-image: linear-gradient(
      0deg,
      rgba(147, 86, 220, 0.9) 0%,
      rgba(255, 121, 218, 0.9) 100%
    );
  }
  &_btn:hover {
    text-align: center;
    background-color: rgb(250, 250, 250);
  }
}

.function {
  padding: 32px;

  &_title {
    margin-top: 0;
  }

  &_steps {
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: compteListe;
  }

  &_step {
    padding: 24px;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 20px;
    background-color: #f6f6f6;
    display: flex;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      counter-increment: compteListe 1;
      content: counter(compteListe) " ";
      background: $color-primary;
      height: 12px;
      width: 12px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      left: -12px;
    }
  }

  &_icon {
    margin-right: 1rem;
    color: #7e7e7e;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem;

  &_title {
    margin-top: 0;
  }
}

.boards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.board {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
  transition: 0.2s;
  &_img {
    height: 12rem;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }

  &_badge {
    background-color: $color-tertiary;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
  }

  &_footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &_content {
    flex: 1;
  }

  &_title {
    margin: 0;
    margin-bottom: 0.25rem;
  }

  &_subtitle {
    margin: 0;
  }

  &_btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_like {
    background-color: white;
  }

  &:active {
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.25);
  }
  &_btn:hover {
    .menu_like {
      &-BgOff {
        opacity: 0;
      }
    }
  }
}

.restaurant_picture {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;

  &_header {
    padding: 1rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_title {
    font-family: "Shrikhand", "cursive";
  }

  &_btn {
    height: 32px;
    width: 32px;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: black;

    &:hover::before {
      opacity: 1;
    }

    &::before {
      opacity: 0;
      transition: 0.5s;
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        0deg,
        $color-primary 0%,
        $color-secondary 100%
      );
    }
  }

  &_like {
    transition-duration: 0.25s;
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten;
  }

  &_btn:hover {
    .menu_like {
      &-BgOff {
        opacity: 0;
      }
    }
  }
}

.undermenus {
  display: grid;
}

.undermenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;

  &_title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: normal;

    &::after {
      content: "";
      width: 3rem;
      height: 0.25rem;
      background-color: $color-tertiary;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

.menuArticle {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;

  &_header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  &_title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 900;
  }

  &_description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &_price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }

  &_validation {
    background-color: $color-tertiary;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
  }

  &:hover &_validation {
    margin-right: -1rem;
  }

  &_Icon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;
  }

  &:hover &_wrapIcon {
    transform: rotate(0);
  }

  &_icon {
    color: $color-tertiary;
  }
}
@for $i from 1 to 3 {
  .delay-#{$i} {
    animation-delay: #{$i/10}s;
  }
}
@for $i from 4 to 6 {
  .delay-#{$i} {
    animation-delay: #{$i/10}s;
  }
}
@for $i from 7 to 9 {
  .delay-#{$i} {
    animation-delay: #{$i/10}s;
  }
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}
.commandBtn {
  border: 0;
  padding: 12px 24px;
  font-weight: 450;
  font-size: 17.5px;
  border-radius: 100px;
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  color: white;
  background-color: #686868;
  background-image: linear-gradient(
    0deg,
    rgba(147, 86, 220, 0.9) 0%,
    rgba(255, 121, 218, 0.9) 100%
  );

  &:hover {
    text-align: center;
    background-color: whitesmoke;
  }
}
.wall {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #f0f8ff;
  animation: wall 0.05s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;

  &_item {
    height: 1rem;
    width: 1rem;

    animation: move 1.75s;
    animation-iteration-count: 1;

    &Container {
      display: flex;
      width: 5rem;
      justify-content: space-between;
    }

    &-1 {
      background-color: $color-primary;
      border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%;
    }

    &-2 {
      background-color: $color-secondary;
      border-radius: 50% 50% 0% 100% / 100% 100% 0% 0%;
      animation-delay: 0.25s;
    }

    &-3 {
      border-radius: 0% 100% 0% 100% / 100% 100% 0% 0%;
      background-color: $color-tertiary;
      animation-delay: 0.5s;
    }
  }
}
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wall {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes move {
  0% {
    transform: translateX(25%);
  }
  25% {
    transform: translateY(50%);
  }
  75% {
    transform: translateX(75%);
  }
  100% {
    transform: translateX(100%);
  }
  // 0% {
  //   transform: translateY(0);
  // }
}
